.App {

    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 100px auto;
    min-height: 50px;
    text-align: center;
}

.nav__list {
    list-style: none;
}

.nav__item {
    display: inline;
    margin: 0 10px;
}

span {
    margin: 0 10px;
}

.input__title {
    display: block;
    margin-bottom: 20px;
}

label {
    display: block;
}

.add__container {
    place-self: center;
    margin: 10px;
    border: 1px solid darkgrey;
    padding: 20px;
}



